<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Room Dash Board </title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/moment.js"></script>
    <style>
        .navbar-default {
            background-color: antiquewhite !important;
        }

        .css-error {
            border: 1px solid red;
        }

        .tnav .navbar .container {
            height: 28px;
            /* bootstrap dropdown hover menu*/
        }

        .navbar-default .navbar-nav > li > a {
            /*color: white !important;*/
            font: normal 20.73px/40px 'QuicksandBold' !important;
        }

        .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
            color: black !important;
        }

        .Display {
            display: block !important;
        }

        .DisplayNone {
            display: none !important;
        }
    </style>
    <script>
        $(document).ready(function () {
            debugger;
            @*var log = '@Session["UserCode"].ToString()';
            if (log == "1029") {
                debugger;
                $("#FF").addClass('DisplayNone');
                $("#TREATMENT").addClass('DisplayNone');
                $("#KITCHEN").addClass('DisplayNone');
                $("#DOCTOR").addClass('DisplayNone');
                $("#setUp").addClass('DisplayNone');
            }*@
            //getcreationtime();
            //GetDateTime();
            function getcreationtime() {
                $.ajax({
                    type: "POST",
                    url: "/Home/Gettime",
                    success: function (data) {
                        if (data != "0") {
                            //$("#lbldate1").val(moment(date).format("DD-MM-YYYY"));
                            var data1 = moment(data).format("DD-MM-YYYY hh:mm:ss a");
                            $("#lbldate1").val(data1);
                            $("#lbldate2").text(data);
                            vacancy(data);
                        }
                        else {
                            $("#lbldate1").text("0");
                            $("#lbldate2").text("0");
                        }
                    },
                    error: function () {

                    }
                });
            }
        });
        
    </script>
    <style>
        /* Paste this css to your style sheet file or under head tag */
        /* This only works with JavaScript,
        if it's not present, don't show loader */
        .no-js #loader {
            display: none;
        }

        .js #loader {
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
        }

        .navbar-fixed-top, .navbar-fixed-bottom {
            position: absolute !important;
        }

        .se-pre-con {
            /*position: fixed;*/
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            /*background: background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;*/
            background: url('../../Images/images/loader-64x/Preloader_2.gif') center no-repeat #fff;
        }
    </style>
    <style>
        /* To Dropdown navbar dropdown on hover */
        .navbar-nav > li:hover > .dropdown-menu {
            display: block;
        }

        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
                margin-left: -1px;
                -webkit-border-radius: 0 6px 6px 6px;
                -moz-border-radius: 0 6px 6px;
                border-radius: 0 6px 6px 6px;
            }

            .dropdown-submenu:hover > .dropdown-menu {
                display: block;
            }

            .dropdown-submenu > a:after {
                display: block;
                content: " ";
                float: right;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-left-color: #ccc;
                margin-top: 5px;
                margin-right: -10px;
            }

            .dropdown-submenu:hover > a:after {
                border-left-color: #fff;
            }

            .dropdown-submenu.pull-left {
                float: none;
            }

                .dropdown-submenu.pull-left > .dropdown-menu {
                    left: auto !important;
                    margin-left: 10px;
                    -webkit-border-radius: 6px 0 6px 6px;
                    -moz-border-radius: 6px 0 6px 6px;
                    border-radius: 6px 0 6px 6px;
                }

        .navbar-fixed-top {
            top: 93px !important;
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script>
        //paste this code under head tag or in a seperate js file.
        // Wait for window load
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("2000");
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            ShowTime();
        });
        function ShowTime() {
            var dt = new Date();
            document.getElementById("lblTime").innerHTML = dt.toLocaleTimeString();
            window.setTimeout("ShowTime()", 1000); // Here 1000(milliseconds) means one 1 Sec
        }
    </script>
</head>
<body style="font:normal 16px/22px 'QuicksandBold';border-top: 0px solid red !important;">

    <div class="top_header" style="padding:15px;padding-bottom:20px;">
        <div class="wrap_in" style="margin-bottom: 10px;">
            <figure class="logo" style="text-align:center;">
                <a href="~/Checkin/Roomdashboard"><img src="http://www.pemawellness.co/images/logo1.png" alt="logo"></a>
            </figure>

            <table style="float:right;margin-top: -77px;">
                <tr>
                    <td><span>User :</span></td>
                    <td>@Session["LogedUserID"]</td>
                </tr>
                <tr>
                    <td><span>Date :</span></td>
                    <td>@System.DateTime.Today.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <td><span>Time :</span></td>
                    <td>
                        <div id="lblTime"></div>
                        @*@System.DateTime.Now.ToString("HH:ss:mm")*@
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="navbar navbar-default" style="background-color: #d6d4d4!important;border-color: #d6d4d4!important;height:40px;margin-bottom: 7px;margin-top: -21px;">

        <div class="navbar-header" style="float:none!important;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*@Html.ActionLink("Care Hospital", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>
        <div class="navbar-collapse collapse" style="float:left;margin-top:-14px;">
            <ul class="nav navbar-nav">
                <li class="dropdown" id="FF">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">FRONT OFFICE<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>  @Html.ActionLink("UHID Registration", "Index", "Register")</li>
                        <li>  @Html.ActionLink("Application Entry", "datesconformation", "Registrationform")</li>
                        <li>  @Html.ActionLink("CheckIn", "Guestcheckin", "Checkin")</li>
                        <li>  @Html.ActionLink("Pre-Booking", "GuestPreBooking", "Checkin")</li>
                        <li>  @Html.ActionLink("Pre-Blocked List", "PreBookingguestlist", "Checkin")</li>
                        <li>  @Html.ActionLink("Dinacharya", "Index", "Dinacharya")</li>
                        <li>  @Html.ActionLink("Room Shift", "shiftingroom", "Checkin")</li>
                        <li>  @Html.ActionLink("Guest List", "guestlist", "Checkin")</li>
                        <li>  @Html.ActionLink("Excel Dashboard", "Application", "Home")</li>
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Billing</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Interim Bill</a></li>
                                <li><a href="#">Final Bill Check Out</a></li>
                            </ul>
                        </li>
                        <li>  @Html.ActionLink("Check Out", "Index", "Checkout")</li>
                    </ul>
                </li>
                <li class="dropdown" id="TREATMENT">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">TREATMENT<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>  @Html.ActionLink("Therapist Attendance", "HealerAttendance", "Attendance")</li>
                        <li>  @Html.ActionLink("Treatment Plan", "Create1", "TP")</li>
                        <li>  @Html.ActionLink("Edit Treatment Plan", "Edittreatmentplan", "TP")</li>
                        <li>  @Html.ActionLink("Treatment Attendance", "treatmentattendence", "TP")</li>
                        <li>  @Html.ActionLink("Treatment Feedback", "treatmentFeedback", "TP")</li>
                        <li>  @Html.ActionLink("Treatment List", "TreatmentList", "TP")</li>

                    </ul>
                </li>

                <li id="KITCHEN">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">KITCHEN<b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level">
                        <li>  @Html.ActionLink("Kitchen", "Kitchen", "Kitchen")</li>
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nutrition</a>
                            <ul class="dropdown-menu">
                                <li>  @Html.ActionLink("Add Recipe", "Nutrition", "Kitchen")</li>
                                <li>  @Html.ActionLink("Recipe List", "RecipeReport", "Kitchen")</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" id="DOCTOR">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">DOCTOR<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>  @Html.ActionLink("Discharge Summary", "Create", "Doctor")</li>
                    </ul>
                </li>
                <li class="dropdown" id="HK">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">HOUSE KEEPING<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>  @Html.ActionLink("Room Status", "Index", "HouseKeeping")</li>
                    </ul>
                </li>
                <li class="dropdown" id="TREATMENT">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">HR<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>  @Html.ActionLink("Biometric Attendance", "BiometricAttendance", "HR")</li>
                        <li>  @Html.ActionLink("Leave Management", "Leavemanagement", "HR")</li>
                        <li>  @Html.ActionLink("Payroll", "Payroll", "HR")</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="logout" style="float:right;">
            <ul class="nav navbar-nav" id="setUp">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-top:-17px;">Set Up<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>  @Html.ActionLink("Front office setup", "UploadExcel", "Home")</li>
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Treatment setup</a>
                            <ul class="dropdown-menu" style="left:-100%;">
                                <li>  @Html.ActionLink("Treatment setup", "UploadTreatmentExcel", "Home")</li>
                                <li>  @Html.ActionLink("Add Healer", "AddHealers", "TP")</li>
                                <li>  @Html.ActionLink("Edit Healer", "HealerList", "TP")</li>
                            </ul>
                        </li>
                        <li>  @Html.ActionLink("Kitchen setup", "calender", "Home")</li>
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">HR</a>
                            <ul class="dropdown-menu" style="left:-100%;">
                                <li>  @Html.ActionLink("Shift Master", "AddShiftDetails", "HR")</li>
                                <li>  @Html.ActionLink("Leave Master", "AddHealers", "HR")</li>
                                <li>  @Html.ActionLink("Employee Master", "HealerList", "HR")</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="btn-group" style="padding-top: -5px;">
                &nbsp;
                <a href="/Home/LogOff" style="border:none;background-color:#d6d4d4!important;">
                    <input style="background-color:#d6d4d4!important;border:none;color:#777;" type="button" value="LOGOUT" class="" />
                </a>
            </div>

        </div>
    </div>

    @*<div class="navbar navbar-default" style="background-color: #d6d4d4!important;border-color: #d6d4d4!important;height:40px;">

            <div class="navbar-header" style="float:none!important;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" style="float:left;margin-top:-14px;">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">FRONT OFFICE<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>  @Html.ActionLink("UHID Registration", "Index", "Register")</li>
                            <li>  @Html.ActionLink("Application Entry", "datesconformation", "Registrationform")</li>
                            <li>  @Html.ActionLink("CheckIn", "Index", "Checkin")</li>
                            <li>  @Html.ActionLink("Check Out", "Index", "Checkout")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">TREATMENT<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>  @Html.ActionLink("Current Treatment", "Currenttreatment", "Treatment")</li>
                            <li>  @Html.ActionLink("Therapist Attendance", "HealerAttendance", "Attendance")</li>
                            <li>  @Html.ActionLink("Treatment Plan", "TreatmentPlan", "Treatment")</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="logout" style="float:right;">
                <div class="btn-group" style="padding-top: -5px;">
                    &nbsp;
                    <a href="/Home/LogOff" style="border:none;background-color:#d6d4d4!important;">
                        <input style="background-color:#d6d4d4!important;border:none;color:#777;" type="button" value="LOGOUT" class="" />
                    </a>
                </div>

            </div>
        </div>*@
    <div class="body-content">
        @RenderBody()
        @*<hr />*@
    </div>
    <div class="se-pre-con"></div>
    @*@Scripts.Render("~/Scripts/GlobalValidation_JS")
        @Scripts.Render("~/Scripts/GlobalFunctionJS")
        @Scripts.Render("~/Scripts/GlobalValidation_JS")
        @Scripts.Render("~/Scripts/BSConfirmPopup_JS")
        @Scripts.Render("~/Scripts/CustomConfirmBoxMethods_JS")
        @Scripts.Render("~/Scripts/CustomDataTable_JS")*@
    @RenderSection("scripts", required: false)


</body>
</html>
