@model IEnumerable<Rooms.Models.TreatmentAvailed>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<p style="margin-top: 85px;">
    @Html.ActionLink("Save Treatment Details", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PRNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchdeuleTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HealerDetail.EMPNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Treatment_Master.TreatName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentRoomMaster.RoomName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PRNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchdeuleTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HealerDetail.EMPNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Treatment_Master.TreatName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentRoomMaster.RoomName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
